.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 76px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}


span.logo-title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 12px;
  vertical-align: middle;
}

div.logo-container{
  display: flex;
}

div.logo-img {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.hamburger-container {
  position: relative; 
}

/* --------------드롭다운 메뉴-------------- */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;  
  z-index: 1;
  min-width: 200px;
  padding: 10px 0;
  margin: 2px 0 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  list-style: none;
}

.dropdown-menu > * {
  padding: 10px 20px; 
  cursor: pointer;
}

.dropdown-menu > *:hover {
  background-color: #f6f6f6;
}

.dropdown-menu li a {
  text-decoration: none; 
  color: black;
}

.dropdown-menu > .hello {
  background-color: white;
  cursor: default;
}
